<h1>Add new map area</h1>
<form action='/control/api/upload/' method='post' enctype="multipart/form-data">
  <b>Display area:</b>
  <input name='display_east' placeholder='East'>
  <input name='display_north' placeholder='North'>
  <input name='display_south' placeholder='South'>
  <input name='display_west' placeholder='West'><br>
  <b>Contour map reference:</b>
  <input name='contour_east' placeholder='East'>
  <input name='contour_north' placeholder='North'>
  <input name='contour_south' placeholder='South'>
  <input name='contour_west' placeholder='West'><br>
  <b>Image:</b>
  <input name='contour_map_image' type='file' />
  <button type="submit">Send</button>
</form>
