.main-panel {
    margin-top: 10%;
    text-align: center;
}

.task-title {
    margin-bottom: 30px;
}

#submit-btn {
    width: 100%;
}

#give-up-btn {
    width: 100%;
}

.material-icons {
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.bottom-controls {
    margin-top: 20px;
    margin-bottom: 5px;
}

.map {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
}